@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(181, 205, 224);
}

.weather-app {
  font-size: 62.5%;
  width: 40rem;
  height: 670px;
  padding: 0 6rem;
  background: url("https://www.hubspot.com/hubfs/404-error-page.jpg") no-repeat
    center center/cover;
}

.fade-white {
  color: rgba(255, 255, 255, 0.7);
}
.bg-fade-white {
  background-color: rgba(255, 255, 255, 0.7);
}
.fs-8 {
  font-size: 10px;
}
.fs-9 {
  font-size: 12px;
}
.fs-10 {
  font-size: 14px;
}

/* background change acording to weather  */

.Rain {
  background: url("https://www.freevector.com/uploads/vector/preview/7040/FreeVector-Rain-Background.jpg")
    no-repeat center center/cover;
}
.Clear {
  background: url("https://media.istockphoto.com/photos/beautiful-sky-with-white-cloud-background-picture-id517897328?b=1&k=20&m=517897328&s=170667a&w=0&h=QpeJ9U8Kdx7Wbj96k_8pYR_5NvM2FfcufYg2NJGqPUo=")
    no-repeat center center/cover;
}
.Clouds {
  background: url("https://cdn.pixabay.com/photo/2020/04/21/04/42/sky-5070817_1280.jpg")
    no-repeat center center/cover;
}
.Haze {
  background: url("https://media.istockphoto.com/photos/smoke-or-fog-isolated-on-black-background-picture-id1285249688?b=1&k=20&m=1285249688&s=170667a&w=0&h=6RwVqsLwf8MsCNFNcy4NP9juV-ICJEOY_WXCO_Vi76c=")
    no-repeat center center/cover;
}

@media(max-width: 800px){
  .weather-app{
    padding: 0 4rem;
  }
}

/* responsive */
@media(max-width: 576px ){
  .head{
    font-size: 25px;
  }
.weather-app {
  width: 25rem;
  padding: 0 1rem;
}
}

@media(max-width: 420px ){
  html{
    font-size: 13px;
  }
  .head{
   min-width: 30rem;
  }
  .weather-app{
    width: 30rem;
  }
}